/* The style sheet for bio.html */

body {
    font-family: "Times New Roman";
    background-color: white;
    color: black;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: "Times New Roman";
    border-bottom: solid;
    font-size: 50px;
}

p {
    font-family: "Times New Roman";
    background-color: white;
    color: black;
    font-size: 20px;
}